/* Variables */
/*  Variables de colores */
/*  Variables de fuentes */
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  background-color: #061111;
  margin: 0;
}

main {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 24% 24%;
  grid-template-rows: auto auto;
  grid-template-areas: "sobreMi cv contacto" "proyectos tecnologias contacto";
  align-items: stretch;
  gap: 10px;
  padding: 20px;
  align-items: stretch;
}
main .sobreMi, main .cv, main .proyectos, main .contacto, main .tecnologias {
  border: 1px solid #b0c4c4;
  padding: 2rem;
  border-radius: 10px;
  transition: 0.2s;
}
main .sobreMi:hover, main .cv:hover, main .proyectos:hover, main .contacto:hover, main .tecnologias:hover {
  box-shadow: 0px 0px 10px #ffffff;
}
main h1, main h2, main h3 {
  font-family: "Bebas Neue", sans-serif;
}
main p {
  color: #ffffff;
}

/*  Estilos de la seccion SobreMi */
.sobreMi {
  grid-area: sobreMi;
  background-color: #26827e;
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}
.sobreMi .perfil {
  margin-right: 20px;
}
.sobreMi .perfil img {
  width: 15rem;
  height: 15rem;
}
.sobreMi .perfil .linkImg {
  margin-top: 10px;
  width: 35px;
  height: auto;
}

/*  Estilos de la seccion cv */
.cv {
  grid-area: cv;
  background-color: #58d4ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
.cv::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  background-image: url(../images/documento.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}
.cv h2 {
  font-size: 48px;
}
.cv a {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: none;
  height: 2rem;
  width: 8rem;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition-duration: 0.2s;
}
.cv a:hover {
  background-color: #26827e;
  color: #ffffff;
  border: 2px solid #ffffff;
}

/* Estilos de la seccion contacto */
.contacto {
  grid-area: contacto;
  background-color: #3ab3ad;
  text-align: center;
}
.contacto .arroba {
  font-size: 16rem;
  opacity: 0.2;
}
.contacto h3 {
  font-size: 45px;
  color: #ffffff;
}
.contacto a img {
  margin-top: 20px;
  width: 45px;
  height: auto;
}

/*  Estilos de la seccion proyectos */
.proyectos {
  grid-area: proyectos;
  background-color: #9fdfdc;
  text-align: center;
}
.proyectos h2 {
  font-size: 32px;
  margin-bottom: 40px;
}
.proyectos div {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 12px;
}
.proyectos img {
  width: 60px;
  height: auto;
}

/*  Estilos de la seccion tecnologias */
.tecnologias {
  grid-area: tecnologias;
  text-align: center;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  padding: 2rem;
}
.tecnologias h2 {
  font-size: 32px;
  margin-bottom: 50px;
}
.tecnologias .carrusel-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
  gap: 40px;
  border: none;
}
.tecnologias .carrusel-track img {
  width: 60px;
  height: auto;
  object-fit: contain;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Seccion Responsive */
@media (max-width: 1100px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto; /* 4 filas */
    grid-template-areas: "sobreMi sobreMi" "cv proyectos" "tecnologias tecnologias" "contacto contacto";
  }
  main .proyectos {
    margin-bottom: 0px;
  }
  main .proyectos div {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .proyectos img {
    width: 60px;
  }
}
@media (max-width: 590px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "sobreMi" "cv" "proyectos" "tecnologias" "contacto";
  }
  main .sobreMi {
    flex-direction: column;
    gap: 30px;
  }
  main .proyectos {
    padding: 1.5rem;
  }
  main .proyectos h2 {
    font-size: 36px;
  }
  main .proyectos div {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .proyectos img {
    width: 50px;
  }
}
@media (max-width: 375px) {
  main {
    padding: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
