/* Estilos de la seccion contacto */

@use "../base/variables" as *;

.contacto{
    grid-area: contacto;
    background-color: $color-alerta;
    text-align: center;
    .arroba{
        font-size: 15rem;
        opacity: 0.2;
    }
    h3{
        font-size: 3.5rem;
        color: $color-blanco;
    }
    a{
        img{
            margin-top: 3rem;
            width: 4rem;
            height: auto;
        }
    }
}