/* Estilos de la seccion contacto */

@use "../base/variables" as *;

.contacto{
    grid-area: contacto;
    background-color: $color-alerta;
    text-align: center;
    .arroba{
        font-size: 10rem;
        opacity: 0.2;
    }
    h3{
        font-size: 3rem;
        color: $color-blanco;
    }
    a{
        img{
            margin-top: 3rem;
            width: 2.5rem;
            height: auto;
            margin-bottom: 1rem;
        }
    }
}