/*  Estilos de la seccion proyectos */

@use "../base/variables" as *;

.proyectos{
    grid-area: proyectos;
    background-color: $color-primario;
    text-align: center;
    h2{
        font-size: 32px;
        margin-bottom: 40px;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    img{
        width: 50px;
        height: auto;
    }
    .proyecto{
        display: flex;
        flex-direction: column;
        width: 7rem;
        height: auto;
        cursor: pointer;
        padding: 1rem;
        border-radius: 5px;
    }
}
