/*  Estilos de la seccion SobreMi */

@use "../base/variables" as *;

.sobreMi{
    grid-area: sobreMi;
    background-color: $color-secundario;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    .perfil{
        padding: 1rem;
        h2{
            font-size: 1.5rem;
        }
        h3{
            font-size: 1rem;
        }
        img{
            width: 13rem;
            height: 13rem;
            object-fit: cover;
        }
    }
    .presentacion{
        line-height: 1.5rem; /* espacio entre líneas más cómodo */
        font-size: 1rem;
        margin: 0;
        padding: 10px 20px;
    }
}