/*  Estilos de la seccion tecnologias */

@use "../base/variables" as *;

.tecnologias {
    grid-area: tecnologias;
    text-align: center;
    background-color: $color-blanco;
    overflow: hidden;
    position: relative;
    h2{
        font-size: 32px;
        padding: .4rem;
    }

    .carrusel-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    gap: 40px;
    
    }

    .carrusel-track img {
    margin-top: 2rem;
    width: 6rem;
    height: auto;
    object-fit: contain;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }   
    }
}