/* Reset */
@use "./variables" as *;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
body{
    background-color: $color-fondo;
}
main{
    font-family: $font-texto;
    min-height: 100vh;
    display: grid;
    grid-template-columns:  2fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "sobreMi cv contacto"
    "proyectos tecnologias contacto";
    gap: 10px;
    padding: 20px;
    align-items: stretch;
    .bloque{
        border: 1px solid $color-gris;
        padding: 2rem;
        border-radius: 10px;
        transition: 0.2s;
    }
    .bloque:hover{
        box-shadow: 0px 0px 10px $color-blanco ;
    }
    h1, h2,h3{
        font-family: $font-titulos;
    }
    p{
        color: $color-blanco;
    }
}
