/* Seccion Responsive */
@media (max-width: 1530px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto; /* 4 filas */
        grid-template-areas:
        "sobreMi sobreMi"
        "cv proyectos"
        "tecnologias tecnologias"
        "contacto contacto";
    }
    .sobreMi {
        flex-direction: column;
        text-align: center;

        .presentacion {
            max-width: 90%;
            text-align: center;
            font-size: 1.3rem;
        }
    }
    .carrusel-items {
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .proyecto {
        flex: 0 0 11rem;
        height: 7.5rem;
    }

    .proyectos img {
        width: 55px;
    }
}
@media(max-width:900px){
    main {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto auto auto; 
        grid-template-areas:
        "sobreMi"
        "proyectos"
        "cv" 
        "tecnologias" 
        "contacto";
    }
    .sobreMi{
        flex-direction: column;
        gap: 30px;
        .perfil{
            img{
                width: 20rem;
                height: 20rem;
                object-fit: cover;
            }
        }
        .presentacion{
            line-height: 1.6rem; /* espacio entre líneas más cómodo */
    }
    }
        .proyectos {
            padding: 1.5rem;
    
            h2 {
                font-size: 1.8rem;
            }
        }
    
        .carrusel-items {
            flex-wrap: wrap;
            gap: 1.2rem;
        }
    
        .proyecto {
            flex: 0 0 10rem;
            height: 7rem;
    
            img {
                width: 50px;
            }
    
            h3 {
                font-size: 1rem;
            }
        }
}


@media (max-width: 768px) {
    .carrusel-items {
            gap: 1rem;
        }
    
        .proyecto {
            flex: 0 0 9rem;
            height: 6.5rem;
    
            img {
                width: 45px;
            }
        }
    
        .btn-carrusel {
            font-size: 2rem;
        }
}


@media(max-width:375px){
    main{
        padding: 0px;
    }
    .cv h2,
    .contacto h3,
    .proyectos h2,
    .tecnologias h2 {
        font-size: 28px;
    }

    .cv {
        a{
            width: 100%;
            max-width: 160px;
            height: 2.5rem;
        }
    }

    .proyectos {
        padding: 1rem;

        h2 {
            font-size: 1.5rem;
        }
    }

    .carrusel-items {
        flex-wrap: wrap;
        gap: 0.8rem;
    }

    .proyecto {
        flex: 0 0 8rem;
        height: 6rem;

        img {
            width: 40px;
        }

        h3 {
            font-size: 0.9rem;
        }
    }

    .proyectos img,
    .tecnologias .carrusel-track img,
    .contacto a img {
        width: 50px;
    }

    .sobreMi {
        .perfil{
            img {
            width: 15rem;
            height: 15rem;
        }   
    } 
    }

    .contacto {
        .arroba{
            font-size: 10rem;
        }
    }

    .bloque {
        padding: 1rem;
    }
}
