/* Seccion Responsive */
@media (max-width: 1300px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto; /* 4 filas */
        grid-template-areas:
        "sobreMi sobreMi"
        "cv proyectos"
        "tecnologias tecnologias"
        "contacto contacto";
    }
    .sobreMi{
        .presentacion{
            width: 50%;
        }
    }
    .proyectos{
        margin-bottom: 0px;
        div{
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
        }
        img{
            width: 60px;
        }
    }
    .tecnologias{
        .carrusel-track{
            padding: 2rem;
        }
    }
}

@media(max-width:800px){
    .sobreMi{
        .presentacion{
                width: 100%;
            }
    }
}
@media(max-width:590px){
    main {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto auto auto; 
        grid-template-areas:
        "sobreMi"
        "proyectos"
        "cv" 
        "tecnologias" 
        "contacto";
    }
    .sobreMi{
        flex-direction: column;
        gap: 30px;
    }
    .proyectos {
        padding: 1.5rem; // 🔧 menos padding
        h2 {
            font-size: 36px; // 🔧 más pequeño aún
        }

        div {
            gap: 20px; // 🔧 menos espacio entre íconos
            flex-wrap: wrap;
            justify-content: center;
        }

        img {
            width: 50px;
        }
    }
}
@media(max-width:375px){
    main{
        padding: 0px;
    }
    .cv h2,
    .contacto h3,
    .proyectos h2,
    .tecnologias h2 {
        font-size: 28px;
    }

    .cv {
        a{
            width: 100%;
            max-width: 160px;
            height: 2.5rem;
        }
    }

    .proyectos {
        div{
            gap: 16px;
            flex-wrap: wrap;
        }
    }

    .proyectos img,
    .tecnologias .carrusel-track img,
    .contacto a img {
        width: 50px;
    }

    .sobreMi {
        .perfil{
            img {
            width: 15rem;
            height: 15rem;
        }   
    } 
    }

    .contacto {
        .arroba{
            font-size: 10rem;
        }
    }

    .bloque {
        padding: 1rem;
    }
}
