/* Reset */
@use "./variables" as *;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
body{
    background-color: $color-fondo; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 0;
    margin: 0;
}
main {
    font-family: $font-texto;
    width: 1200px;      // ancho máximo
    max-width: 100%;    // responsive
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "sobreMi cv contacto"
        "proyectos tecnologias contacto";
    gap: 1rem;

    .bloque{
        border: 1px solid $color-gris;
        border-radius: 10px;
        transition: 0.2s;
    }
    .bloque:hover{
        box-shadow: 0px 0px 10px $color-blanco ;
    }
    h1, h2,h3{
        font-family: $font-titulos;
    }
    p{
        color: $color-blanco;
    }
}
