/* Variables */

/*  Variables de colores */
$color-fondo: #061111;
$color-primario: #9fdfdc;
$color-secundario: #26827e;
$color-acento: #58d4ce;
$color-acento-hover: #3ed3cd;
$color-alerta: #3ab3ad;
$color-gris: #b0c4c4;
$color-texto: #e2f3f2;
$color-blanco: #ffffff;

/*  Variables de fuentes */
$font-titulos: 'Bebas Neue', sans-serif;
$font-texto: 'Rubik', sans-serif;