/* Variables */

/*  Variables de colores */
$color-fondo: #f5f7fa;
$color-primario: #2d469b;
$color-secundario: #e6e0f8;
$color-acento: #2ecc71;
$color-alerta: #e74c3c;
$color-texto: #222;
$color-blanco: #fff;

/*  Variables de fuentes */
$font-titulos: 'Bebas Neue', sans-serif;
$font-texto: 'Rubik', sans-serif;